/* Titre principal */
.rst-content h1 {
    color: #e74c3c;
    background-color: #ffffcc;
    font-size: 28px;
    font-family: 'Segoe UI', sans-serif;
    padding: 8px;
    border-radius: 6px;
    margin-bottom: 20px;
}

/* Titre secondaire */
.rst-content h2 {
    color: #3498db;
    font-size: 22px;
    margin-top: 30px;
}
